.card {
    border-radius: 0;
    border: 1px solid black !important;
    background-color: #E0BBBB33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    margin-top: 10px;
    text-align: center;
  }